.Info{}
.Info .top ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.Info .top li{}
.Info .top li p{}
.Info .top li p img{
    width: 1.5rem;
    height: 1.5rem;
}
.Info .top li span{
    font-size: .3rem;
}
.selects{
  background-color:'#ff9900';
}
.Info .bot{
    padding: .3rem;
}
.Info .bot .ul{}
.Info .bot .ul li{
    display: flex;
}
.Info .bot .ul li b{
    display: inline-block;
    padding-right: .2rem;
}
.Info .bot .ul li b img{
    width: 2.3rem;
    height: 2.3rem;
}
.Info .bot .bot_bot{}
.Info .bot .bot_bot h4{
    font-weight: 500;
}
.Info .bot .bot_bot .price{
    color: red;
    display: block;
    padding: .2rem 0;
    padding-right: .8rem;
}
.Info .bot .bot_bot .buyNow{
    background-color: #f90;
    color: #fff;
    border-radius: .2rem;
    text-align: center;
    line-height: .8rem;
    width: 2rem;
}
.Info .bot .bot_bot  .button{
    padding: 0 .2rem;
}