/* .Add{
    position: absolute;
    top: 0;
    left: 0;
    
}

.Add .bot {
    
}
.Add .section{
    padding: 0 .2rem;
    padding-top: .2rem;
    display: flex;
    background: #fff;
  
}
.Add .section img{
     width: 1.7rem;
     height: 1.7rem;
     align-items: center;
     margin-top: .2rem;
     
}
.Add .section span{
    display: inline-block;
    padding-left:.2rem ;
    margin-top: .2rem;
}


.Add .bot_top{
    opacity: .5;
    background-color: black;
    width: 100vw;
    height:7.5rem;
}

.Add .bot .bot_bot{
   height: 100vw;
    width: 100vw;
    background-color: #fff!important;
    z-index: 2;
}
.Add .bot .bot_bot h3{
    line-height: .4rem;
    padding:.2rem;
}
.Add .bot .bot_bot .span{
    width: 100vw;
}
.Add .bot .bot_bot span{
    display: inline-block;
    border: 1px solid rgb(105, 104, 104);
    padding: .1rem;
    margin: .1rem .2rem;
}
.Add .bot .bot_bot .p{
   text-align: center;
    color: #fff;
    padding: .2rem;
    width: 2.5rem;
    background-color: #f90;
    border-radius: .1rem;
   margin-left: 2rem;
   margin-top: .2rem;
} */