.ComponentTitle{
    width: 100vw;
    height: .8rem;
    background: #ff9900;
    color: #fff;
    display: flex;
    justify-content: stretch;

}
.ComponentTitle span{
    line-height: .8rem;
    margin-left: .2rem;
}
.ComponentTitle b{
    font-weight: normal;
    line-height: .8rem;
    margin-left: 2.2rem;
}

