.ComponentTitle{
    width: 100vw;
    height: .8rem;
    background: #ff9900;
    color: #fff;
    display: flex;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}
.ComponentTitle span{
    line-height: .8rem;
    margin-left: .2rem;
    position: absolute;
}
.ComponentTitle b{
    font-weight: normal;
    line-height: .8rem;
   margin: 0 auto;
}

