.Title{
    height: 1.1rem;
    display: flex;
    justify-content: space-around;
    padding:.2rem .1rem;
    align-items: center;
}
.Title img{

}
.Title input{
    width: 3rem;
    border-radius: .3rem;
}